*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  width: 100vw;
  height: 100vh;
}

main{
  height: 85vh;
  width: 100%;
  display: flex;
}

footer{
  height:15vh;
  width: 100%;
  background-color: rgb(35 , 35 , 35);
  border-top: 1px solid black;
}

nav{
  background-color: black;
  width: 15%;
  color: #cecece;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




   /* NAV */

#logo{
  height: 40px;
  margin:15px 15px;
}

.menu-item{
  margin-top: 15px;
  padding-left: 15px;
}

.menu-item > .fas{
  margin-right: 20px;
}

.menu-item:hover{
  border-left: 1.5px solid green;
  color: white;
  padding-left: 13.5px;
  cursor: pointer;
}

.recently{
  margin-top: 25px;
}

.nav-bot .menu-hr{
  height:1px;
  width: 85%;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #cecece;
}


  /* CORPO */

.main-part{
   background-image: linear-gradient(160deg, darkgoldenrod , black );
  width: 85%;
  color: rgb(200 , 200 , 200);
}

.container{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 0px;
}

.main-part-menu{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-part-menu > .menu-item{
  border: none;
  padding: 5px 20px;
}

.main-part-menu > .menu-item:hover{
  border-bottom: 1.5px solid green;
  color: white;
  cursor: pointer;
  padding: 3.5px 20px;
}

.container h1{
  color : white;
  padding: 0px;
}

.playlist > img{
  width: 180px;
  height: 180px;
}

.playlist-title{
  color: white;
}

.playlist > p{
  margin-bottom: 0px;
}

.playlist{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /* footer */

.foot-container{
  height: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#cecece;
}

.foot-container img{
  width: 60px;
  height:60px;
}

.foot-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-song{
  margin-left: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.foot-mid{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .fas , .far{
  padding: 10px;
  color: #cecece;
}

footer .fas:hover , .far:hover{
  cursor: pointer;
  color: green;
}

.player{
  width: 40%;
  height: 3px;
  background-color: #cecece;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player::before{
  content: "1.5";
}

.player::after{
  content: "2.30";
}

.player-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.foot-right{
  margin: 0;
  padding: 0;
  display: flex;
  width: 10%;
  align-content: center;
}
